#### Create Empty set in python

### Duplicate Items in set

### Add and update item is set

### Update Python set

### Remove Element fro Python

### Itereate Over Set

### Find the numbers in set

### Set operations

#### Union of Two sets

#### Set Intersection

#### Difference btween two set

#### Set Symmetric Differecne

###Create Empty set in python

In [1]:
marks_student = {90,60,70}

In [19]:
## mix datatype set
marks_student_name = {90,60,70,"kunal"}

In [14]:
marks_student_name

{(1, 2, 3, 4), 60, 70, 90, 'kunal'}

In [9]:
type(marks_student)

set

In [25]:
marks_student = {}
type(marks_student)

dict

In [20]:
empty_set = set()

In [26]:
type(empty_set)

set

### Duplicate Itens in set

In [33]:
marks = {2,4,4,5,6,6,7,8,"kunal","kunal",(1,2,3),(1,2)}

In [34]:
marks

{(1, 2), (1, 2, 3), 2, 4, 5, 6, 7, 8, 'kunal'}

#### Add and update item is set

In [37]:
marks = {2,4,4,5,6,6,7,8}
marks.add(2)

In [38]:
marks

{2, 4, 5, 6, 7, 8}

##### Update Python set

In [44]:

contry = {"India","Srilanka","Bangladesh"}

In [47]:
list_new_contries = {"Aus","new-ze","USA","UK"}

In [48]:
contry.update(list_new_contries)
contry

{'Aus', 'Bangladesh', 'India', 'Srilanka', 'UK', 'USA', 'new-ze'}

#### Remove Element fro Python

In [71]:
contry = {"India","Srilanka","Bangladesh","Bangladesh9999"}

In [75]:
contry.remove("Srilanka1")

KeyError: 'Srilanka1'

In [76]:
contry.discard("Srilanka2")

### Itereate Over Set

In [77]:
contry = {"India","Srilanka","Bangladesh"}

for i in contry:
  print(i)

India
Bangladesh
Srilanka

#### Find the numbers in set

In [78]:
contry = {"India","Srilanka","Bangladesh"}
len(contry)

3

##### Set operations

In [81]:
a = {1,2,5}
b = {3,4,6,5}

#c = a|b
c =  a.union(b)

In [82]:
c

{1, 2, 3, 4, 5, 6}

In [87]:
a = {1,2,5,2}
b = {3,4,6,5,2}

#c = a & b
c =  a.intersection(b)

In [88]:
c

{2, 5}

In [100]:
a = {1,2,5,2}
b = {3,4,6,5,2}

c = b - a
#c =  a.difference(b)

In [101]:
c

{3, 4, 6}

### Set Symmetric Differecne

In [96]:
a = {1,2,5,2}
b = {3,4,6,5,2}

c = a ^ b
#c =  a.difference(b)

In [97]:
c

{1, 3, 4, 6}

In [109]:
b = [1,2,3,4,5]
c = (3,4,5,6,90)

In [106]:
import sys

In [110]:
sys.getsizeof(b)

104

In [111]:
sys.getsizeof(c)

80

In [104]:
b[0]  =9

In [103]:
c[0] = 9

TypeError: 'tuple' object does not support item assignment