### Common Functions

len
max
min
sorted

In [1]:
c =  "welcome"

In [3]:
len(c)

7

In [6]:
for i in range(len(c)):
  print(c[i])

w
e
l
c
o
m
e

In [4]:
for i in range(len(c)):
  print(c[i])

w
e
l
c
o
m
e

In [8]:
c

'welcome'

In [7]:
max(c)

'w'

In [9]:
min(c)

'c'

In [11]:
print(c)

welcome

In [10]:
sorted(c)

['c', 'e', 'e', 'l', 'm', 'o', 'w']

In [12]:
sorted(c,reverse=True)

['w', 'o', 'm', 'l', 'e', 'e', 'c']

Capitalize
title
Upper
Lower
Swapcase

In [13]:
temp = "welcome to world"

In [14]:
temp.capitalize()

'Welcome to world'

In [15]:
temp.title()

'Welcome To World'

In [17]:
k = temp.upper()

In [19]:
k.lower()

'welcome to world'

In [20]:
temp1 = "WoLd"

In [21]:
temp1.swapcase()

'wOlD'

count, index, endwith,startswith,format

In [30]:
temp = "Welcome to world"

In [31]:
temp.count("W")

1

In [27]:
temp.count("o")

3

In [28]:
temp.count("b")

0

In [35]:
temp = "welcome to world"

In [40]:
temp.find("w")

0

In [41]:
temp = "welcome to world"

In [44]:
temp.startswith("wel")

True

In [47]:
temp.endswith("orld1")

False

In [49]:
name = "Abhi"
"My name is {}".format(name)

'My name is Abhi'

In [51]:
"My name is "+name

'My name is Abhi'

    Write a program to calculate the electricity bill (accept number of unit from user) according to
    the following criteria :
    Unit
    First 100 units
    Next 100 units
    After 200 units
    Price
    no charge
    Rs 5 per unit
    Rs 10 per unit
    (For example if input unit is 350 than total bill amount is Rs2000)

In [57]:
units = int(input("Enter the units"))

if units <=100:
  print("0 charges")
elif units >=100 and units<=200:
  total_unit = units - 100
  print(total_unit * 5)
else:
  total_charges = 100 * 5
  total_unit = units - 200
  print(total_charges + total_unit*10)

2500

### isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier

In [12]:
"20a#".isalnum()

False

In [14]:
"kunal".isalpha()

True

In [21]:
"20".isdigit()

True

In [24]:
"ty".isidentifier()

True

Split

In [25]:
"My name is kunal".split()

['My', 'name', 'is', 'kunal']

In [32]:
"My,name,is,kunal".split("name")

['My,', ',is,kunal']

Join

In [38]:
k = ["1","2","3","4","5","7"]

new_string  = "sep".join(k)

print(new_string)

1sep2sep3sep4sep5sep7

In [39]:
l = "My name is kunal".split()

In [40]:
" ".join(l)

'My name is kunal'

Replace

In [44]:
"My name is kunal".replace("kunal","Abhi")

'My name is Abhi'

Strip

In [46]:
"                        My name is kunal                      ".strip()

'My name is kunal'