In [1]:
import pandas as pd

C:\Users\kmuga\AppData\Local\Temp\ipykernel_4536\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
maharastra_weather = pd.DataFrame(
  {
    "city" : ["Sangli","Pune","Kolhapur"],
    "temp" : [32,28,35],
    "humidity" : [80,60,78]
  }
)

In [3]:
maharastra_weather

       city  temp  humidity
0    Sangli    32        80
1      Pune    28        60
2  Kolhapur    35        78

In [4]:
other_weather = pd.DataFrame(
  {
    "city" : ["Kolkata","Benglore","Delhi"],
    "temp" : [35,30,29],
    "humidity" : [90,70,68]
  }
)

In [5]:
other_weather

       city  temp  humidity
0   Kolkata    35        90
1  Benglore    30        70
2     Delhi    29        68

In [6]:
df = pd.concat([maharastra_weather,other_weather])

In [7]:
df

       city  temp  humidity
0    Sangli    32        80
1      Pune    28        60
2  Kolhapur    35        78
0   Kolkata    35        90
1  Benglore    30        70
2     Delhi    29        68

In [8]:
df = pd.concat([maharastra_weather,other_weather],ignore_index=True)
df

       city  temp  humidity
0    Sangli    32        80
1      Pune    28        60
2  Kolhapur    35        78
3   Kolkata    35        90
4  Benglore    30        70
5     Delhi    29        68

In [13]:
df = pd.concat([maharastra_weather,other_weather],keys=["Maharastra","Others"])

In [14]:
df

                  city  temp  humidity
Maharastra 0    Sangli    32        80
           1      Pune    28        60
           2  Kolhapur    35        78
Others     0   Kolkata    35        90
           1  Benglore    30        70
           2     Delhi    29        68

In [16]:
df.loc["Maharastra"]

       city  temp  humidity
0    Sangli    32        80
1      Pune    28        60
2  Kolhapur    35        78

In [19]:
df.loc["Others"]

       city  temp  humidity
0   Kolkata    35        90
1  Benglore    30        70
2     Delhi    29        68